<h2 style="color: black">Renviar instrucciones de confirmacion</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <font color="black"><%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %></font>
  </div>

  <div  style="color: black" class="actions">
    <%= f.submit "Renviar instrucciones de confirmacion" %>
  </div>
<% end %>


<%= render "admins/shared/links" %>
