<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>SPOT - Free Bootstrap 3 Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TUT<i class="fa fa-circle"></i>S UNAL</a>
          <a class="navbar-brand" href="/"><img <%= image_tag("maestrico3.png", :alt => "") %> </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><img class="img-circle" <%= image_tag(current_student.image_url,height: '60', width: '60') %></li>
            <li><a>HOLA ! <%= current_student.name%></a></li>
            <li class="active"><%= link_to "SALIR", student_destroy_student_omniauth_callback_path %> </li>



          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
			 <h4 ALIGN=center>COMIENZA TUS TUTORIAS</b></h4>
       <% if false %>
       <center>
         <img class="img-circle" <%= image_tag(current_student.image_url,height: '110', width: '110') %>
       </center>
       <% end %>
				<p ALIGN=center ></p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- blue wrap -->


	<div class="container w">
		<div class="row centered">
			<br><br>

			<div align='center' class="col-lg-6">
				<i class="fa fa-group"></i>
				<h4>CONSULTA TUTORES <%= link_to '<i class="fa fa-angle-down"></i>'.html_safe , root_path %>   </h4>




  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><h3>Tutor</h3></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tutors.each do |tutor| %>
        <tr>
          <td><strong><h4><%= tutor.name%></h4></strong></td>
          <td><button type="button" class="btn btn-primary botonInfo" value="<%= tutor.id %>"><%="Más Información"%></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>


				<p></p>
			</div><!-- col-lg-4 -->

			<div align='center' class="col-lg-6">
				<i class="fa fa-table"></i>
				<h4>PROGRAMA TUTORIAS</h4>
				<p>Mira la informacion del tutor y elige la materia que te interesa reforzar.</p>


        <div id="infoTutor">

      </div>
      </div><!-- col-lg-4 -->






<% if false %>
			<div class="col-lg-4">
				<i class="fa fa-shopping-cart"></i>
				<h4>E-COMMERCE</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-cloud"></i>
				<h4>CLOUD SERVICES</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
			</div><!-- col-lg-4 -->

<% end %>
		</div><!-- row -->
	</div><!-- container -->

<% if false %>
	<!-- PRICING SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<h4>PRICING PLANS</h4>
				<br>
				<div class="col-lg-4">
                    <!-- START PRICING TABLE -->
                    <div class="pricing-option">
                        <div class="pricing-top">
                            <span class="pricing-edition">Starter</span>
                            <span class="price">
                                <sup>$</sup>
                                <span class="price-amount">19</span>
                                <small>/mo</small>
                            </span>
                        </div>
                        <ul>
                            <li><strong>10GB</strong> Storage</li>
                            <li>Up to <strong>10</strong> Users</li>
                            <li><strong>5</strong> Domains</li>
                            <li><strong>Free</strong> Setup</li>
                            <li><strong>1-year</strong> Free support *</li>
                        </ul>
                        <a href="index.html#" class="pricing-signup">Sign up</a>
                    </div><!-- /pricing-option -->
                    <!-- END PRICING TABLE -->
				</div><!-- /col -->

				<div class="col-lg-4">
                    <!-- START PRICING TABLE -->
                    <div class="pricing-option">
                        <div class="pricing-top">
                            <span class="pricing-edition">Standard</span>
                            <span class="price">
                                <sup>$</sup>
                                <span class="price-amount">29</span>
                                <small>/mo</small>
                            </span>
                        </div>
                        <ul>
                            <li><strong>20GB</strong> Storage</li>
                            <li>Up to <strong>20</strong> Users</li>
                            <li><strong>10</strong> Domains</li>
                            <li><strong>Free</strong> Setup</li>
                            <li><strong>2-year</strong> Free support *</li>
                        </ul>
                        <a href="index.html#" class="pricing-signup">Sign up</a>
                    </div><!-- /pricing-option -->
                    <!-- END PRICING TABLE -->
				</div><!-- /col -->

				<div class="col-lg-4">
                    <!-- START PRICING TABLE -->
                    <div class="pricing-option">
                        <div class="pricing-top">
                            <span class="special-label">OFFER!</span>
                            <span class="pricing-edition">Ultimate</span>
                            <span class="price">
                                <sup>$</sup>
                                <span class="price-amount">69</span>
                                <small>/mo</small>
                            </span>
                        </div>
                        <ul>
                            <li><strong>150GB</strong> Storage</li>
                            <li><strong>Unlimited</strong> Users</li>
                            <li><strong>50</strong> Domains</li>
                            <li><strong>Free</strong> Setup</li>
                            <li><strong>5-year</strong> Free support *</li>
                        </ul>
                        <a href="index.html#" class="pricing-signup">Sign up</a>
                    </div><!-- /pricing-option -->
                    <!-- END PRICING TABLE -->
				</div><!-- /col -->
			</div><!-- row -->

		</div><!-- container -->
	</div><!-- DG -->

<% end %>

<br><br><br><br><br><br>
<div id="r">
  <div class="container">
    <div class="row centered">
      <div align='center' class="col-lg-8 col-lg-offset-2">
        <h4>SOMOS CONTADORES DE HISTORIAS.</h4>
        <p>"Con la ayuda del tutor y con los trabajos realizados por medio de tutos unal ¡por fin! consigo pasar los parciales
          y lo mejor es que ha subido mi PAPA, gracias TUTOS UNAL ;)".
            - Richard Melo (Ingenieria de Sistemas).</p>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><! -- r wrap -->


	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
				<a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>
        <p>Todos los derechos reservados © TUTOS-UNAL - 2016 </p>

			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->


	<!-- MODAL FOR CONTACT -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">contact us</h4>
	      </div>
	      <div class="modal-body">
		        <div class="row centered">
		        	<p>We are available 24/7, so don't hesitate to contact us.</p>
		        	<p>
		        		Somestreet Ave, 987<br/>
						London, UK.<br/>
						+44 8948-4343<br/>
						hi@blacktie.co
		        	</p>
		        	<div id="mapwrap">
                <iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=52.752693,22.791016&amp;spn=67.34552,156.972656&amp;z=2&amp;output=embed"></iframe>
					</div>
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
