<h2 style="color: white">Registrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div style="color: white" class="field">
    <%= f.label :email %><br />
    <font color="black"><%= f.email_field :email, autofocus: true %></font>
  </div>

  <div style="color: white" class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <font color="black"><%= f.password_field :password, autocomplete: "off" %></font>
  </div>

  <div style="color: white" class="field">
    <%= f.label :password_confirmation %><br />
    <font color="black"><%= f.password_field :password_confirmation, autocomplete: "off" %></font>
  </div>

  <div  style="color: black" class="actions">
    <%= f.submit "Registrarse" %>
  </div>
<% end %>

<%= render "tutors/shared/links" %>
