<p id="notice"><%= notice %></p>

<div class="container">
  <div class="page-header">
    <%= link_to new_subject_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Subject
    <% end %>
    <h1>Listing subjects</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
              <th>Nombre</th>
              <th>Facultad</th>
              <th>Descripción</th>
              <th>Objetivos</th>
              <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @subjects) do |subject| %>
              <td><%= subject.name %></td>
              <td><%= subject.faculty %></td>
              <td><%= subject.description %></td>
              <td><%= subject.objective %></td>
              <td><%= link_to 'Show', subject %></td>
          <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
          <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
