<p id="notice"><%= notice %></p>

<div class="container">
  <h2>Information</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Faculty</th>
        <th>Objectives</th>
        <th>Themes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @subject.name %></td>
        <td><%= @subject.faculty %></td>
        <td> <% if @subject.name.downcase == 'cálculo diferencial' or @subject.name.downcase == 'calculo diferencial'then %>
  Estudiar los conceptos de límite y derivada para funciones de una variable real y utilizar estas ideas en la solución de problemas de optimización, trazado de curvas y razones de cambio.
  <% elsif @subject.name.downcase == 'programación de computadores' or @subject.name.downcase == 'programacion de computadores' then %>
  Capacitar al estudiante en el análisis y diseño de algoritmos y el empleo eficiente de lenguajes de programación y desarrollar en el alumno el pensamiento algorítmico, brindándole las herramientas básicas que le permitan reconocer problemas a los que se les puede dar solución mediante un algoritmo, aplicar una metodología sistemática para su solución, especificar algoritmos de manera precisa utilizando pseudocódigo y/o diagramas de flujo e implementar la solución algorítmica mediante un lenguaje de programación.
  <% elsif @subject.name.downcase == 'fundamentos de mecánica' or @subject.name.downcase == 'fundamentos de mecanica' then %>
  Para esta asignatura, se espera comprender el concepto de posición en un plano y en el espacio como magnitud vectorial y extraer toda la información a partir de la posición como vector, aplicar el cálculo diferencial a la obtención de magnitudes instantáneas, utilizar correctamente la notación vectorial en las magnitudes cinemáticas, reconocer las componentes intrínsecas de la aceleración, reconocer los diferentes tipos de movimientos: en una y dos dimensiones, comprender el significado de la composición o principio de superposición de movimientos, aplicar las leyes de Newton en problemas que involucran una o más fuerzas, relacionar el principio de conservación del momento lineal con hechos cotidianos, relacionar el concepto de impulso con los de fuerza y velocidad, comprender el concepto del trabajo y su relación con las fuerzas actuantes, entender el concepto de energía y sus formas mecánicas, así como su relación con el trabajo y saber aplicar el principio de conservación de la energía en diversas situaciones.
  <% elsif @subject.name.downcase == 'cálculo integral' or @subject.name.downcase == 'calculo integral' then %>
  Lograr la apropiación por parte del estudiante de los conceptos fundamentales del cálculo integral de funciones de una variable real y crear habilidades que le permitan aplicar estos conocimientos en problemas propios de su disciplina, abordar de manera elemental los conceptos de sucesiones y series, conocer y manejar con propiedad el concepto de integral definida de una función real de una variable real y su relación con el concepto de primitiva o antiderivada, para facilitar los cálculos, estudiar algunas de las diferentes aplicaciones del concepto de integral y adquirir destrezas en el estudio de la convergencia de sucesiones y series.
  <% elsif @subject.name.downcase == 'álgebra lineal' or @subject.name.downcase == 'algebra lineal' then %>
  Asimilar los fundamentos del Álgebra Lineal, a nivel elemental, pero con la profundidad necesaria para adquirir los conocimientos y habilidades básicas (capacidad de análisis y de razonamiento lógico - deductivo) para la solución de problemas en las cuales estén involucrados los elementos matemáticos de sistemas de ecuaciones lineales, espacios vectoriales, valores y vectores propios de una matriz y diagonalización de matrices.
  <% elsif @subject.name.downcase == 'programación orientada a objetos' or @subject.name.downcase == 'programacion orientada a objetos' then %>
  Capacitar al estudiante para solucionar problemas utilizando el paradigma de Programación Orientada a Objetos a través de los lenguajes de programación C++ y Java.
  <% elsif @subject.name.downcase == 'probabilidad y estadística' or @subject.name.downcase == 'probabilidad y estadistica' then %>
  Iniciar el desarrollo del pensamiento estadístico en la formación profesional del estudiante ofreciéndole una sintaxis básica del lenguaje estadístico; promoviendo la representación de realidades en lenguaje estadístico; estimulando el manejo adecuado de conceptos, términos y procedimientos estadísticos por parte del estudiante y aprestando elementos para la lectura crítica, la comprensión y la presentación de resultados estadísticos por parte del estudiante. El estudiante que curse la asignatura y cumpla con las exigencias académicas, podrá identificar la estructura general de la inferencia estadística para formalizar la sintaxis inicial del lenguaje estadístico con el respaldo firme de elementos de la probabilidad, adquirir conceptos de la probabilidad para transferirlos como elementos descriptivos y de apoyo conceptual en el área de conocimiento del estudiante, utilizar medios estadísticos para la presentación y resumen de datos, realizar estimaciones puntuales y por intervalo a partir de muestras simples, traducir conjeturas científicas a lenguaje estadístico y valorar su plausibilidad e iniciar el modelado estadístico por medio de los fundamentos de regresión lineal.
  <% elsif @subject.name.downcase == 'cálculo en varias variables' or @subject.name.downcase == 'calculo en varias variables' then %>
  Estudiar los conceptos fundamentales del cálculo de funciones de varias variables (límites, continuidad, diferenciación e integración) y los teoremas centrales del Cálculo vectorial (Teoremas de Green, Gauss y Stokes), estimular y desarrollar la capacidad de análisis y de razonamiento lógico-deductivo del estudiante, capacitar al estudiante para la interpretación, formulación y solución de problemas en las áreas relacionadas con su especialidad en las cuales se haga necesario la aplicación del cálculo de funciones de varias variables y del cálculo vectorial.
  <% elsif @subject.name.downcase == 'matemáticas discretas 1' or @subject.name.downcase == 'matematicas discretas 1' then %>
  Ofrecer al estudiante de ingeniería de sistemas algunos temas y técnicas de razonamiento matemático que son de naturaleza discreta y en muchos casos finita. De igual forma se busca que el alumno desarrolle destrezas en la forma de definir, describir y usar las matemáticas Discretas en la representación y solución de problemas de ingeniería de sistemas. La solución incluye algoritmos específicos.
  <% elsif @subject.name.downcase == 'bases de datos' then %>
  El objetivo del curso es ilustrar a los estudiantes en principios y técnicas para diseño, implementación y uso de sistemas de bases de datos relacionales.
  <% elsif @subject.name.downcase == 'elementos de computadores' then %>
  Mostrar a los alumnos las principales técnicas de análisis y diseño de sistemas digitales, así como los circuitos usados habitualmente en el ámbito de la computación electrónica. La asignatura consta de dos grandes bloques en el que se estudiarán los distintos sistemas digitales en orden creciente de complejidad, partiendo de diseños sencillos hasta llegar a estructuras de relativa complejidad. Al terminar este curso el estudiante debe conocer las bases de la teoría aritmética digital, las técnicas de codificación digital, los fundamentos teóricos del álgebra de conmutación, dominio de las técnicas de diseño combinacional de circuitos lógicos, los conceptos de memoria y máquinas de estado, así como el análisis y diseño de circuitos secuénciales. Así mismo, se pretende enseñar a los alumnos el uso de algún/os paquete/s de software de ayuda al diseño de sistemas digitales.
  <% elsif @subject.name.downcase == 'fundamentos de electricidad y magnetismo' then %>
  Abordar los conceptos, principios y leyes del electromagnetismo, que le permita al estudiante dar explicación a fenómenos electromagnéticos y comprender el principio de funcionamiento de dispositivos y sistemas eléctricos, magnéticos y electromagnéticos.
  <% elsif @subject.name.downcase == 'ingeniería económica' or @subject.name.downcase == 'ingeniería economica' or @subject.name.downcase == 'ingenieria económica' or @subject.name.downcase == 'ingenieria economica' then %>
  Contribuir a alcanzar los objetivos de formación que hacen parte del compromiso educativo institucional y mejorar la capacidad para identificar y caracterizar las componentes financieras de proyectos e iniciativas empresariales.
  <% elsif @subject.name.downcase == 'matemáticas discretas 2' or @subject.name.downcase == 'matematicas discretas 2' then %>
  Ofrecer al estudiante de ingeniería de sistemas algunos temas y técnicas de razonamiento matemático que son de naturaleza discreta y en muchos casos finita. De igual forma se busca que el alumno desarrolle destrezas en la forma de definir, describir y usar las matemáticas Discretas en la representación y solución de problemas de ingeniería de sistemas. La solución incluye algoritmos específicos.
  <% elsif @subject.name.downcase == 'estructuras de datos' then %>
  Estudiar conceptos, técnicas y métodos básicos sobre las estructuras de datos fundamentales, así como su implementación y aplicación eficiente en la solución de problemas.
  <% end %>
  <br /> </td>
        <td> <% if @subject.name.downcase == 'cálculo diferencial' or @subject.name.downcase == 'calculo diferencial'then %>
  <ol>
  <li>Funciones y Modelos
  <ul>
<li>Cuatro maneras de representar una función, definición de función, dominio, rango, gráfica de una función, prueba de la recta vertical.
<li>Funciones definidas a tramos, valor absoluto, simetría, función par, impar, funciones crecientes, decrecientes.
<li>Catálogo de funciones básicas: función lineal, polinomios (grado, raíces, función cuadrática, función cúbica), funciones de potencia, funciones racionales, funciones algebraicas y funciones trigonométricas.
<li>Transformaciones de funciones: desplazamientos verticales y horizontales, alargamientos verticales y horizontales.
<li>Álgebra de funciones, composición de funciones
<li>Funciones exponenciales: gráficas, leyes de los exponentes, modelación con funciones exponenciales, el número e.
<li>Función inversa: función uno a uno, prueba de la recta horizontal, definición de función inversa, gráfica de la función inversa.
<li>Funciones logarítmicas: definición, gráficas, leyes de los logaritmos, logaritmo natural, fórmula para el cambio de base, gráfica de la función logaritmo natural.
<li>Funciones trigonométricas inversas: función seno inverso, función tangente inversa, función coseno inverso.
</ul>
<li>Límites y Derivadas
<ul>
<li>Límite de una función: definición intuitiva, ejemplos gráficos, ejemplos con tablas de valores, límites laterales, ejemplos gráficos.
<li>Cálculo de límites: reglas básicas para el cálculo de límites, límites de funciones definidas por tramos, teorema de compresión.
<li>Continuidad: definición, continuidad por la derecha y por la izquierda, teoremas básicos sobre funciones continuas, teorema de sustitución para el cálculo de límites de funciones compuestas, teorema de continuidad de funciones compuestas, teorema del valor intermedio.
<li>Límites que comprenden el infinito: límites infinitos y asíntotas verticales, límites en el infinito y asíntotas horizontales, límites infinitos en el infinito.
<li>Tangentes, velocidades y otras razones de cambio.
Definición de derivada, interpretación de la derivada como la pendiente de una tangente, interpretación de la derivada como una razón de cambio.
<li>La derivada como una función, notaciones de la derivada, relación entre diferenciabilidad y continuidad, ¿Cómo deja de ser diferenciable una función? Derivadas superiores.
<li>¿Qué dice la derivada de una función acerca de la función original? ¿Qué dice la segunda derivada de una función acerca de la función original?
</ul>
<li>Reglas de Derivación.
<ul>
<li>Derivadas de polinomios y de funciones exponenciales. Las reglas del producto y del cociente.
<li>Derivación de funciones trigonométricas. La regla de la cadena.
<li>Derivación implícita. Derivadas de las funciones trigonométricas inversas. Derivadas de funciones logarítmicas. Derivación logarítmica.
</ul>
<li>Aplicaciones de la derivada.
<ul>
<li>Razones de cambio de variables relacionadas.
<li>Valores máximo y mínimo absolutos de una función. Extremos relativos de una función. Teorema del valor extremo. Teorema de Fermat. Valores críticos de una función.
<li>Derivadas y las formas de las curvas: teorema del valor medio, prueba para determinar los intervalos de crecimiento y decrecimiento, prueba de la primera derivada para extremos relativos.
<li>Definición de concavidad y puntos de inflexión. Prueba de concavidad, prueba de la segunda derivada para extremos relativos.
Ejemplos de trazado de gráficas. Formas indeterminadas y la regla de L’Hopital.
<li>Problemas de optimización.
<li>Antiderivadas: definición, tabla de fórmulas de antiderivación, problemas de aplicación)
</ul>
</ol>

  <% elsif @subject.name.downcase == 'programación de computadores' or @subject.name.downcase == 'programacion de computadores' then %>
  <ol>
  <li>Introducción a la Programación
  <ul>
<li>El proceso de compilación
<li>Representación de datos
<li>El concepto de algoritmo
<li>Solución de problema algorítmicos
</ul>
<li>Constructores Básicos
<ul>
<li>Datos, variables, expresiones y asignación
<li>Entrada y Salida
<li>Instrucciones condicionales
<li>Instrucciones repetitivas: mientras, repetir, para
<li>Variables contadoras, acumuladoras, bandera
<li>Diseño estructurado de programas
</ul>
<li>Arreglos y Matrices
<ul>
<li>Arreglos: definición, representación y uso
<li>Cadenas de caracteres
<li>Matrices: definición, representación y uso
</ul>
<li>Funciones y Procedimientos
<ul>
<li>Definición y uso de funciones
<li>Variables locales y globales
<li>Recursión
<li>Definición y uso de procedimientos
<li>Argumentos por valor y por referencia
</ul>
</ol>
  <% elsif @subject.name.downcase == 'fundamentos de mecánica' or @subject.name.downcase == 'fundamentos de mecanica' then %>
  <ol>
  <li>INTRODUCCIÓN: ¿Qué es la física? Cantidades fundamentales, unidades, análisis dimensional, medición, relaciones de proporcionalidad
<li>MOVIMIENTO RECTILINEO: posición, gráfico de posición vs. tiempo, velocidad media, velocidad instantánea, gráficas de velocidad vs. tiempo, aceleración media, aceleración instantánea, área bajo las curvas aceleración vs. tiempo y velocidad vs. Tiempo, aceleración gravitacional, movimiento rectilíneo cerca de la superficie terrestre.
<li>MOVIMIENTO EN DOS DIMENSIONES: Definición de vector, álgebra de vectores, componentes de un vector en dos dimensiones. Posición, velocidad y aceleración medias e instantáneas en un plano. Movimiento circular uniforme, superposición de movimientos, composición de movimientos, tiro parabólico, alcance, altura máxima, etc. solución de problemas cinemáticas en dos dimensiones.
<li>DINÁMICA DE PARTÍCULAS I, fuerza y masa: Inercia, primera ley, definición operativa de fuerza, medidor de fuerzas, aplicación del medidor a otros objetos, masa inercial, superposición de fuerzas y masas, peso y masa, segunda ley de Newton, clases de fuerzas, aplicaciones de la primera y segunda ley de Newton
<li>DINÁMICA DE PARTÍCULAS II, interacciones entre partículas: Tercera ley de Newton, ilustraciones de la aplicación de la tercera ley, transmisión de fuerzas por medio de cuerdas, tensión, la máquina de Atwood, poleas, fuerzas de contacto, fricción, coeficientes de fricción
<li>DINÁMICA DEL MOVIMIENTO CIRCULAR DE PARTÍCULAS: Coordenadas de posición y velocidad angular, cinemática del movimiento circular uniforme, movimiento circular uniformemente acelerado, relación entre velocidades instantáneas angular y lineal, aceleración lineal en el movimiento circular uniforme, (aceleración centrípeta), dinámica del movimiento circular, fuerza sobre una partícula que gira, fuerza centrípeta
<li>CANTIDAD DE MOVIMIENTO LINEAL O MOMENTUM LINEAL: Colisión unidimensional de dos cuerpos, clasificación de las colisiones. Colisiones y la segunda y tercera leyes de Newton. Impulso y cantidad de movimiento. Sistemas cerrados y abiertos. Ley de conservación de la cantidad de movimiento. Centro de masa de un sistema de partículas.
<li>ENERGÍA I, trabajo bajo fuerzas constantes y variables: Desplazamiento horizontal bajo fuerzas constantes, desplazamiento vertical bajo fuerzas constantes, desplazamiento bajo fuerzas variables. Desplazamiento contra la fuerza de restitución de un resorte. Desplazamiento contra una fuerza que varía con el inverso del cuadrado de la distancia.
<li>ENERGÍA II, conservación de la energía mecánica: Teorema del trabajo y la energía cinética, energía potencial, fuerzas conservativas, sistemas cerrados (aislados) y abiertos (no aislados) otras formas de energía. Nivel de referencia para los cálculos de energía.
<li>ROTACIÓN DE CUERPOS RÍGIDOS: Momento de una fuerza o torque. Conservación de la cantidad de movimiento angular en un sistema cerrado. Momento angular de un cuerpo bidimensional. Momento o torque aplicado a un cuerpo rígido que gira alrededor de un eje fijo. Momentos de inercia de los cuerpos. Energía cinética de rotación alrededor de un eje fijo. Ejemplos de dinámica de rotación. Rotación y translación en dos dimensiones. Rodamiento sobre un plano inclinado.
</ol>
  <% elsif @subject.name.downcase == 'cálculo integral' or @subject.name.downcase == 'calculo integral' then %>
  <ol>
  <li>La integral.
  <ul>
<li>Antiderivadas o primitivas y problemas de condiciones iniciales
<li>Notación Sumatoria, propiedades
<li>Introducción al área
<li>Sumas de Riemann y la integral definida
<li>Propiedades de la integral definida
<li>Teorema del valor medio, Primer y segundo Teorema Fundamental del Cálculo
<li>Integración numérica, Regla de Simpson y del trapecio
</ul>
<li>Métodos de integración.
<ul>
<li>Integración por Sustitución
<li>Integración por partes
<li>Integración de funciones trigonométricas. Algunas sustituciones trigonométricas.
<li>Integración de funciones racionales por descomposición en fracciones parciales.
<li>Sustituciones especiales.
<li>Integrales impropias
</ul>
<li>Aplicaciones de la integral.
<ul>
<li>Área entre dos curvas
<li>Volúmenes de sólidos de sección transversal conocida. Volúmenes de sólidos de revolución. Discos, arandelas y cortezas cilíndricas.
<li>Longitud de arco y área de una superficie de revolución
<li>Momentos y centros de masa. Trabajo.
<li>Introducción a las ecuaciones diferenciales ordinarias
</ul>
<li>Coordenadas Polares
<ul>
<li>Sistema de coordenadas polares. Gráfica de una ecuación polar.
<li>Área y longitud de arco
</ul>
<li>Sucesiones y Series
<ul>
<li>Sucesiones de números reales
<li>Series Infinitas y convergencia, series telescópicas y geométricas
<li>Criterios de convergencia de series de términos no negativos: criterio de la integral, comparación, raíz y razón
<li>Series alternantes, convergencia absoluta y condicional
<li>Series de Potencias
<li>Series de Taylor y de McLaurin.
</ul>
</ol>
  <% elsif @subject.name.downcase == 'álgebra lineal' or @subject.name.downcase == 'algebra lineal' then %>
  <ol>
  <li>Vectores en Rn
  <ul>
<li>Combinaciones lineales y coordenadas
<li>Longitud y ángulo: El producto punto. Longitud. Distancia. Ángulos.
<li>Vectores ortogonales
<li>Proyecciones
</ul>
<li>Sistemas de Ecuaciones Lineales
<ul>
<li>Introducción a los sistemas de ecuaciones lineales
<li>Resolución de un sistema de ecuaciones lineales
<li>Métodos directos para resolver sistemas lineales: Matrices y forma escalonada
<li>Operaciones elementales de fila
<li>Eliminación por Gauss-Jordan. Sistemas homogéneos
<li>Aplicaciones de los sistemas de ecuaciones lineales
</ul>
<li>Conjuntos generadores e independencia lineal
<ul>
<li>Conjuntos generadores de vectores
<li>Independencia lineal
</ul>
<li>Matrices
<ul>
<li>Operaciones matriciales, adición de matrices y multiplicación por escalar
<li>Multiplicación de matrices, propiedades de la multiplicación de matrices, potencia de una matriz.
<li>Transpuesta de una matriz
<li>Álgebra de matrices: propiedades de la adición y multiplicación por escalar
<li>Propiedades de la multiplicación de matrices
<li>Propiedades de la transpuesta
<li>Propiedades de las matrices invertibles
<li>Teorema fundamental de las matrices invertibles
<li>Método de Gauss-Jordan para calcular inversas
</ul>
<li>Subespacios
<ul>
<li>Base, dimensión y rango
<li>Subespacios asociados con matrices
<li>Coordenadas
</ul>
<li>Introducción a las transformaciones lineales
<ul>
<li>Transformaciones lineales
<li>Nuevas transformaciones lineales a partir de las antiguas
<li>Inversas de transformaciones lineales
<li>Asociatividad
</ul>
<li>Valores y vectores propios
<ul>
<li>Propiedades de los determinantes
<li>Determinantes y operaciones matriciales
<li>Valores y vectores propios de matrices nxn
<li>Semejanza y diagonalización
<li>Aplicaciones: Sistemas de ecuaciones en diferencia
</ul>
<li>Ortogonalidad
<ul>
<li>Sombras sobre una pared
<li>Ortogonalidad en Rn
<li>Conjunto de vectores ortogonales y ortonormales
<li>Matrices ortogonales
<li>Complementos ortogonales. Proyecciones ortogonales
<li>Proceso de Gram-Schmidt
<li>Factorización QR
</ul>
<li>Espacios vectoriales
<ul>
<li>Espacios vectoriales y subespacios
<li>Subespacios
<li>Conjuntos generadores
<li>Coordenadas
<li>Matrices para cambio de base
<li>Método de Gauss-Jordan para calcular una matriz de cambio de base
<li>Propiedades de las transformaciones lineales
<li>Composición de transformaciones lineales
<li>Inversa de las transformaciones lineales
<li>Transformaciones lineales inyectivas ("uno a uno") y sobreyectivas ("sobre").
<li>Isomorfismo de espacios vectoriales
<li>Matrices de transformaciones lineales compuestas e inversas
</ul>
</ol>
  <% elsif @subject.name.downcase == 'programación orientada a objetos' or @subject.name.downcase == 'programacion orientada a objetos' then %>
  <ol>
  <li>Repaso de C/C++
  <ul>
<li>Estructuras de Control
<li>Funciones
<li>Arreglos
</ul>
<li>Estructuras en C
<ul>
<li>Estructuras Simple: Definición y declaración acceso a los miembros
<li>Estructuras complejas que contienen otras estructuras, que contienen arreglos
<li>Arreglos de estructuras: definición y uso, espacio de dimensionamiento
</ul>
<li>Memoria dinámica en C/C++
<ul>
<li>Apuntadores: definición, creación, declaración, iniciación, utilización
<li>Aritmética de apuntadores
<li>Estructuras y apuntadores
<li>Referencias: definición, creación, declaración, iniciación, utilización
<li>Cadenas de caracteres y apuntadores, apuntadores y arreglos
</ul>
<li>Clases y Abstracción de datos en C++
<ul>
<li>Declaración de Clases
<li>Visibilidad de métodos y atributos
<li>Encapsulamiento
<li>Constructores
<li>Destructores
<li>Modificador Const
<li>Composición de clases
<li>Funciones y clases amigas
<li>El apuntador This
<li>Objetos en memoria dinámica
<li>El modificador Static
</ul>
<li>Sobrecarga de operadores
<ul>
<li>Fundamentos de la sobrecarga
<li>Sobrecarga de los operadores << y >>
<li>Sobrecarga de operadores unarios
<li>Sobrecarga de operadores binarios, herencia en C++
<li>Concepto de herencia en POO
<li>El modificador Protected
<li>Herencia múltiple
</ul>
<li>Polimorfismo
<ul>
<li>Conceptos de polimorfismo en POO
<li>Clases Abstractas
<li>Métodos virtuales
</ul>
<li>Manejos de excepciones en C++
<ul>
<li>Generalidades
<li>Lanzamiento de excepciones
<li>Capturar excepciones
</ul>
<li>Introducción al lenguaje Java
<ul>
<li>La máquina virtual de Java
<li>Clases métodos y atributos
<li>Encapsulamiento
<li>Constructores
<li>Paquetes
<li>Identificadores
<li>Expresiones
<li>Estructuras de Control
</ul>
<li>Arreglos clases
<ul>
<li>Modificador Static
<li>Atributos de clases
<li>Métodos de clase
<li>Herencia
<li>Control de acceso
<li>Sobreescritura
<li>Sobrecarga
<li>Constructores y herencia
<li>Inicializadores estáticos
<li>La clase object
</ul>
<li>Conceptos avanzados de clases en Java
<ul>
<li>Polimorfismo
<li>El patrón singleton
<li>Modificador final
<li>Modificador Abstract
<li>Interfaces
<li>Clases internas
<li>Clases locales
<li>Clases anónimas
</ul>
<li>Conversiones y Casting en Java
<ul>
<li>Conversiones
<li>Conversiones en tipos primitivos
<li>Conversiones en llamados a métodos
<li>Conversiones en referencias, excepciones en Java
<li>Excepciones
<li>Excepciones en Java
<li>La sentencia try/catch
<li>Mecanismo call stack
<li>La sentencia finally
<li>Categorías de excepciones
<li>La sentencia Throws
<li>Sobreescritura y excepciones
<li>Excepciones definidas por el programador
</ul>
<li>Los paquetes Java.lang y Java.util
<ul>
<li>El paquete Java.lang
<li>La clase Match
<li>Las clases wrappers
<li>La clase string
<li>La clase Stringbuffer
<li>El paquete java.util
<li>Contenedores
</ul>
<li>Interfaz gráfica de usuario (GUI)
<ul>
<li>Componentes AWT
<li>Componentes Swing
<li>Manejo de eventos
</ul>
</ol>
  <% elsif @subject.name.downcase == 'probabilidad y estadística' or @subject.name.downcase == 'probabilidad y estadistica' then %>
  <ol>
  <li>Introducción
  <ul>
<li>Definiciones iniciales en estadística
<li>Clasificación de variables según diversos criterios
<li>Escalas de medida
</ul>
<li>Resumen y descripción de datos de una variable
<ul>
<li>Presentación tabular y gráfica de una variable
<li>Medidas descriptivas de centro, localización, dispersión y forma
<li>Datos atípicos
</ul>
<li>Resumen y descripción de datos de dos variables
<ul>
<li>Presentación tabular y gráfica de dos variables
<li>Medidas descriptivas de correlación.
</ul>
<li>Conceptos básicos de probabilidad
<ul>
<li>Definiciones iniciales: experimento aleatorio, espacio muestral, evento.
<li>Definición de probabilidad y sus propiedades
<li>Asignación de probabilidades: clásica, frecuentista y subjetiva.
<li>Reglas de conteo de puntos muestrales
<li>Probabilidad condicional e independencia de eventos. Regla de Bayes
</ul>
<li>Principios de variables aleatorias
<ul>
<li>Definición de variable aleatoria. Tipos de variables aleatorias
<li>Funciones de probabilidad y de distribución
<li>Función de densidad.
<li>Valor esperado y varianza
<li>Percentiles
</ul>
<li>Modelos de probabilidad usuales
<ul>
<li>Distribuciones Bernoulli y binomial
<li>Distribución hipergeométrica
<li>Distribución de Poisson
<li>Distribución uniforme continua
<li>Distribución exponencial
<li>Distribución normal
</ul>
<li>Principios de inferencia estadística
<ul>
<li>Conceptos iniciales. Tipos de muestreo.
<li>Distribución muestral de la media y la proporción
<li>Teorema Central del Límite
</ul>
<li>Estimación de parámetros
<ul>
<li>Conceptos iniciales: Estimador, estimación, intervalo de confianza
<li>Insesgamiento y eficiencia
<li>Estimación por intervalo para la media y para la proporción
<li>Determinación del tamaño de muestra para estimar la media y para la proporción
</ul>
<li>Prueba de hipótesis
<ul>
<li>Conceptos iniciales: Hipótesis, errores, test, probabilidades de errores, estadística de prueba, valor p
<li>Procedimiento general de prueba
<li>Prueba de hipótesis para la media y para la proporción
<li>Prueba de hipótesis para la varianza
<li>Prueba de hipótesis para la diferencia de medias y de proporciones
<li>Prueba de hipótesis para la razón de varianzas
</ul>
<li>Regresión lineal simple
<ul>
<li>Modelo de regresión
<li>Recta de mínimos cuadrados
<li>Estimación de los coeficientes de regresión
<li>Evaluación del modelo
</ul>
</ol>

  <% elsif @subject.name.downcase == 'cálculo en varias variables' or @subject.name.downcase == 'calculo en varias variables' then %>
  <ol>
  <li>Cálculo Diferencial de Funciones de Varias Variables
  <ul>
<li>Superficies Cuadráticas. Funciones Escalares de varias variables.
<li>Límites y continuidad.
<li>Derivadas parciales, diferenciabilidad, planos tangentes.
<li>Regla de la cadena.
<li>Las derivadas direccionales y el vector gradiente.
<li>Derivadas parciales de orden superior
<li>Valores máximos y mínimos de una función de varias variables
<li>Multiplicadores de Lagrange
</ul>
<li>Integración Múltiple
<ul>
<li>Integrales dobles sobre rectángulos. Integrales iteradas.
<li>Integrales dobles sobre regiones generales.
<li>Integrales dobles en coordenadas polares.
<li>Aplicaciones de las integrales dobles.
<li>Integrales triples.
<li>Coordenadas cilíndricas y esféricas. Integrales triples en coordenadas cilíndricas y esféricas.
<li>Cambio de variables en las integrales múltiples.
</ul>
<li>Elementos de Cálculo Vectorial
<ul>
<li>Funciones vectoriales y curvas en el espacio. Derivadas e integrales de funciones vectoriales. Longitud de Arco e Integral escalar de línea.
<li>Campos Vectoriales. Integrales de Línea
<li>El Teorema fundamental de las integrales de línea.
<li>Superficies paramétricas. Área de una superficie e Integral escalar de superficie
<li>Integrales de superficie.
<li>El Divergente de un campo vectorial. Teorema de la divergencia de Gauss.
<li>El Rotacional de un campo vectorial. Teorema de Stokes.
Teorema de Green.
</ul>
</ol>

  <% elsif @subject.name.downcase == 'matemáticas discretas 1' or @subject.name.downcase == 'matematicas discretas 1' then %>
  <ol>
  <li>Lógica y Deducción
  <ul>
<li>Proposiciones y Conectivos
<li>Implicaciones y Equivalencias Lógicas
<li>Reglas de Inferencia
<li>Demostración directa
<li>Demostración por Contradicción
<li>Inducción matemática
<li>Pruebas de Validez
</ul>
<li>Conjuntos
<ul>
<li>Conjuntos y operaciones
<li>Subconjuntos, Conjunto de Partes
<li>Particiones
</ul>
<li>Relaciones y Funciones
<ul>
<li>Relaciones y Propiedades de las Relaciones
<li>Relaciones de equivalencia y particiones
<li>Relaciones de Orden,
<li>Conjuntos Ordenados, Conjuntos Parcialmente Ordenados y Retículos
<li>Operaciones con Relaciones
<li>Funciones
<li>Sucesiones
</ul>
<li>Principios Fundamentales de Conteo y Combinatoria
<ul>
<li>Principios de la suma y el producto
<li>Permutaciones y combinaciones
<li>Permutaciones y combinaciones generalizada
<li>Relaciones de recurrencia
<li>Algoritmos
<li>Complejidad de algoritmos
</ul>
<li>Grafos, Digrafos y Árboles
<ul>
<li>Representación de grafos y digrafos
<li>Caminos y circuitos
<li>Subgrafos
<li>Grafos de Euler
<li>Circuitos de Hamilton
<li>Isomorfismo de grafos
<li>Árboles
<li>Grafos planos
</ul>
</ol>

  <% elsif @subject.name.downcase == 'bases de datos' then %>
  <ol>
  <li>Técnicas de análisis, diseño, implementación, programación, administración y uso de bases de datos: modelos de bases de datos, algebra relacional, SQL, diseño de bases de datos relacionales (principios, dependencia, forma normal)
<li>Programación de bases de datos en SQL (funciones, procedimientos almacenados, triggers, transacciones y cursores), y conexión a plataforma web
</ol>
  <% elsif @subject.name.downcase == 'elementos de computadores' then %>
  <ol>
  <li>Circuitos Digitales
  <ul>
<li>Conceptos básicos de circuitos digitales
<li>Dispositivos semiconductores en conmutación
<li>Familias lógicas
<li>Características de funcionamiento
</ul>
<li>Sistemas numéricos posicionales y la codificación decimal
<ul>
<li>Sistemas numéricos
<li>Representación de punto fijo de números positivos
<li>Conversión de números entre sistemas numéricos
<li>Aritmética en base binaria
</ul>
<li>Simplificación de funciones booleanas
<ul>
<li>Álgebra de Boole
<li>Formas canónicas de las funciones de conmutación
<li>Expresión de minitérminos y maxitérminos
<li>Operadores lógicas
<li>Compuertas lógicas
<li>Métodos de simplificación de funciones lógicas
<li>Simplificación de multifunciones
<li>Clasificación de los sistemas digitales. Combinacionales y secuenciales
</ul>
<li>Análisis y diseño de sistemas combinacionales
<ul>
<li>Análisis de circuitos combinacionales
<li>Diseño de sistemas combinacionales
<li>Implementación compuertas NAND y NOR
<li>Implementación compuertas XOR
</ul>
<li>Circuitos combinacionales aritméticos y lógicos
<ul>
<li>Introducción
<li>Sumadores / restadores
<li>Comparadores
<li>Unidades aritmético-lógicas
<li>Aritmética de computación avanzada
</ul>
<li>Circuitos combinacionales en rutas de datos
<ul>
<li>Introducción
<li>Multiplexores o selectores de datos
<li>Demultiplexores/decodificadores
<li>Codificadores
</ul>
<li>Introducción a los sistemas secuenciales biestables
<ul>
<li>Modelo estructural
<li>Tipos de sistemas secuenciales
<li>Elementos básicos de memoria
<li>Biestable JK. Biestable RS, Biestable T
<li>Biestable D. Cronogramas
</ul>
<li>Análisis y diseño de sistemas secuenciales
<ul>
<li>Ecuaciones de excitación
<li>Ecuaciones de transición
<li>Tablas de estados/salidas
<li>Diagramas de Estado
<li>Análisis de sistemas secuenciales síncronos
<li>Análisis de sistemas secuenciales asíncronos
</ul>
<li>Contadores y registros de desplazamiento
<ul>
<li>Introducción
<li>Contadores binarios
<li>Contadores no binarios
<li>Registros de desplazamiento
</ul>
<li>LSI y memorias
<ul>
<li>Estructura general de las memorias RAM
<li>Organizaciones 2D y 3D
<li>Memorias RAM estáticas y dinámicas
<li>Memorias ROM, PROM, EPROM
<li>Diseño de circuitos de memoria
<li>Diseño de circuitos con memorias ROM
</ul>
</ol>

  <% elsif @subject.name.downcase == 'fundamentos de electricidad y magnetismo' then %>
  <ol>
  <li>CARGA Y CAMPO ELÉCTRICO: La carga eléctrica y sus propiedades. Conductores y aislantes. Ley de Coulomb. Campo eléctrico de una carga puntual. Principio de superposición. Líneas de campo eléctrico de una carga puntual y de una distribución discreta de cargas.
<li>DISTRIBUCIONES CONTINUAS DE CARGA Y LEY DE GAUSS: Campo eléctrico de distribuciones continuas de carga. Flujo de campo eléctrico. Ley de Gauss. Aplicaciones de la Ley de Gauss.
<li>MOVIMIENTO DE CARGAS EN CAMPOS ELÉCTRICOS Y POTENCIAL ELÉCTRICO (PARTE I). Cargas eléctricas en campos eléctricos. Dipolo eléctrico. Dipolos eléctricos en campos eléctricos. Definición de potencial. Diferencia de potencial en un campo eléctrico. Trabajo y potencial. Potencial de una carga puntual y de una distribución discreta de cargas. Relación entre potencial y campo eléctrico.
<li>POTENCIAL ELÉCTRICO (PARTE II): Potencial de una distribución continua de cargas. Obtención del campo eléctrico a partir del potencial. Conductores en equilibrio electrostático. Energía potencial eléctrica de un sistema de cargas.
CONDENSADORES: Definición. Cálculo de la capacitancia. Energía almacenada en un condensador. Densidad de energía. Condensadores en serie y en paralelo. Condensadores con dieléctrico.
<li>CORRIENTE ELÉCTRICA: Definición. Resistencia y Ley de Ohm. Potencia eléctrica. Fuerza electromotriz. Circuitos eléctricos de corriente continua. Reglas de Kirchhoff. Circuito RC.
<li>CAMPO MAGNÉTICO: Definición. Movimientos de partículas cargadas en campos magnéticos. Fuerza sobre alambres conductores de corriente. Torque sobre una espira de corriente. Efecto Hall. Aplicaciones.
<li>FUENTES DE CAMPO MAGNÉTICO: Ley de Biot-Savart. Ley de Ampere. Cálculo de campos magnéticos. Aplicaciones. Flujo magnético. Ley de Gauss del magnetismo. Magnetismo en la materia.
<li>LEY DE INDUCCIÓN DE FARADAY: Fuerza electromotriz inducida. FEM de movimiento. Ley de Lenz. Campo eléctrico inducido. Generadores y motores. Corrientes parásitas.
<li>OSCILADORES ELECTROMAGNÉTICOS: Inductancia. Energía almacenada en un campo magnético. Circuito RL. Circuito LC. Circuito RLC. Resonancia.
<li>CIRCUITOS DE CORRIENTE ALTERNA: Fuentes de corriente alterna. Diagrama de fasores. Resistencia, capacitancia e inductancia con corriente alterna. Circuito RLC alimentado con corriente alterna. Potencia. Transformadores. Filtros. 
<li>ONDAS ELECTROMAGNÉTICAS: Descripción matemática de los pulsos viajeros y las ondas. Función de onda. Ecuación de onda. Corriente de desplazamiento. Radiación de una carga que acelera. Ecuaciones de Maxwell. Función de onda y ecuación de onda para los campos eléctrico y magnético. Ondas electromagnéticas. Energía transportada por una onda electromagnética. Vector de Pointyng. Espectro electromagnético.
</ol>
  <% elsif @subject.name.downcase == 'ingeniería económica' or @subject.name.downcase == 'ingeniería economica' or @subject.name.downcase == 'ingenieria económica' or @subject.name.downcase == 'ingenieria economica' then %>
  <ol>
  <li>LA ACTIVIDAD ECONÓMICA: ENTORNO POLÍTICO, CULTURAL Y SOCIAL
<ul>
<li>Las áreas de interés de la microeconomía: Demanda, Oferta, Equilibrio y variaciones, Asignación de precios
<li>Pendiente y elasticidad, elasticidad de la demanda, elasticidad de la oferta, excedente del consumidor, excedente del productor
<li>Los mercados y la competencia, Monopolios, Discriminación de precios, Mercados con restricciones. Impuestos, subsidios y precios
<li>Externalidades: identificación, caracterización y efectos
<li>Bienes públicos, bienes privados, recursos comunes
<li>Variables demográficas: Tasas e indicadores de población
<li>Indicadores socioeconómicos, índices de desarrollo humano.
<li>Indicadores de nivel de vida, desigualdad y pobreza: Curva de Lorenz y coeficiente Gini.
</ul>
<li>CONCEPTOS BÁSICOS DE ANÁLISIS Y EVALUACIÓN FINANCIERA
<ul>
<li>Valor del dinero en el tiempo (interés),
<li>Interés y tasas de interés
<li>Equivalencia entre tasas de interés
<li>Tasas de interés: clasificaciones [Simple, compuesto; nominal, efectivo; vencido, anticipado]
<li>Tasas de interés: conversiones, equivalencias, UVR, DTF, inflación, costo real de los créditos
<li>Interés Simple. Definiciones, características, cálculos.
<li>Interés Compuesto. Periodos de capitalización. Ecuaciones, cálculos. Aplicaciones
<li>Anualidades: definiciones, tipos, cálculo de valores presentes, amortizaciones y cuotas.
<li>Gradientes o series variables: definiciones, tipos, cálculos.
</ul>
<li>CRITERIOS DE SELECCIÓN DE ALTERNATIVAS DE INVERSIÓN E INDICADORES FINANCIEROS
<ul>
<li>Amortizaciones y capitalización
<li>Criterios de selección de alternativas de inversión VPN, TIR, CAUE y B/C
</ul>
<li>ANÁLISIS FINANCIERO
<ul>
<li>Costos: clasificación, determinación
<li>Presupuestos: estructura y composición
<li>Indicadores
<li>Elementos de gestión contable
<li>Costos laborales: nóminas y contabilidad
</ul>
<li>ELEMENTOS BÁSICOS DE LOS ESTADOS FINANCIEROS
<ul>
<li>El balance general: Activos, pasivos y patrimonio
<li>Estado de Ganancias y Pérdidas
<li>Ingresos, costos y gastos operacionales
<li>Depreciación
</ul>
</ol>

  <% elsif @subject.name.downcase == 'matemáticas discretas 2' or @subject.name.downcase == 'matematicas discretas 2' then %>
  <ol>
  <li>Estructuras algebraicas
  <ul>
<li>Operaciones binarias
<li>Propiedades de las operaciones
<li>Semigrupos, Monoides y Grupos
</ul>
<li>Álgebras booleanas
<ul>
<li>Álgebras booleanas finitas
<li>Funciones booleanas
<li>Diagramas de Karnaugh
<li>Aplicaciones a los circuitos lógicos
</ul>
<li>Teoría de Números
<ul>
<li>Enteros y operaciones
<li>Primalidad
<li>Algoritmo de la división de Euclides
<li>Factorización, Máximo común divisor, Descomposición en producto de primos
<li>Aritmética modular
</ul>
<li>Ecuaciones en diferencias y sistemas dinámicos discretos
<ul>
<li>Métodos de solución
<li>Análisis cualitativo
</ul>
<li>Ecuaciones en diferencias y sistemas dinámicos continuos
<ul>
<li>Métodos de solución
<li>Análisis cualitativo
</ul>
<li>Juegos y Juegos combinatorios
<ul>
<li>Representación
<li>Aplicaciones
<li>Tipos de Juegos
<li>Juegos combinatorios y algoritmos de solución
</ul>
</ol>

  <% elsif @subject.name.downcase == 'estructuras de datos' then %>
  <ol>
  <li>Introducción a las estructuras de datos
<li>Abstracción de datos
<li>Generalidades de Java
<li>Estructuras de datos lineales: Arreglos, listas encadenadas, pilas y colas
<li>Árboles: Conceptos básicos y terminología, árboles n-arios, árboles binarios, recorridos de los árboles, Árbol de Búsqueda Binaria (BST), Árboles AVL, árbol 2-3, árbol 2-3-4, árbol rojo-negro, montículos (Heaps)
<li>Estructuras de datos de acceso directo: Conceptos básicos, Funciones (Maps), Conjuntos (Sets), Tablas hash, funciones hash y colisiones
<li>Grafos: Conceptos básicos, representación de grafos, operaciones sobre grafos, algoritmos fundamentales sobre grafos (Ordenamiento topológico, camino más corto desde un nodo origen, búsqueda en anchura (BFS) y algoritmo de Dijkstra)
</ol>
  <% end %>
  <br /> </td>
      </tr>
    </tbody>
  </table>
</div>

<div align='center' >
  <div class="container"> <%= button_to('Edit', edit_subject_path(@subject), :class => 'btn btn-large btn-primary', :method => 'get') %></div></br>
  <div class="container"><%= button_to('Back', subjects_path, :class => 'btn btn-success', :method => 'get') %></div></br>
  <div class="container"><%= button_to('Add subject',  likes_tutors_by_subjects_path, :class => 'btn btn-warning', :method => 'get') %> </div>
</div>
