<div class="container">
<%= simple_form_for(@archivo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :file %>
    <%= f.association :likes_tutors_by_subject, :include_blank => false,:label_method => lambda { |likes_tutors_by_subject| "#{likes_tutors_by_subject.tutor.name}| #{likes_tutors_by_subject.subject.name} " } %>

  </div>

  <div class="form-actions">
    <%= f.submit "Subir Archivo", class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
