<div class="container">
<%= simple_form_for(@archivo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :file %>
  </div>

  <div class="form-actions">
    <%= f.submit "Subir Archivo", class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
