<p id="notice"><%= notice %></p>

<div class="container">
  <div class="page-header">
    <%= link_to new_archivo_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Archivo
    <% end %>
    <h1>Listing archivos</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
              <th>Nombre</th>
              <th>Archivo</th>
              <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @archivos) do |archivo| %>
              <td><%= archivo.name %></td>
              <td><%= archivo.file %></td>
              <td><%= link_to 'Show', archivo %></td>
          <td><%= link_to 'Edit', edit_archivo_path(archivo) %></td>
          <td><%= link_to 'Destroy', archivo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

