<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @archivo.name %>
</p>

<p>
  <strong>File:</strong>
  <%= @archivo.file %>
</p>

<%= link_to 'Edit', edit_archivo_path(@archivo) %> |
<%= link_to 'Back', archivos_path %>
