<div class="col-lg-11">
  <%= simple_form_for(@appointment) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :tutor, :include_blank => false,:label_method => lambda { |tutor| "#{tutor.id} | #{tutor.name}" } %>
      <%= f.association :subject, :include_blank => false,:label_method => lambda { |subject| "#{subject.id} | #{subject.name}" }  %>
      <%= f.association :student, :include_blank => false,:label_method => lambda { |student| "#{student.id} | #{student.name}" }  %>
      <%= f.input :description %>
    </div>

    <div class="form-actions">
      <%= f.button :submit , :class=>"btn btn-primary"%>
    </div>
  <% end %>
<div>
