<%= simple_form_for(@likes_tutors_by_subject) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :tutor %>
    <%= f.association :subject %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
