<%= form_for(tutorium) do |f| %>
  <% if tutorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tutorium.errors.count, "error") %> prohibited this tutorium from being saved:</h2>

      <ul>
      <% tutorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asignatura %>
    <%= f.text_field :asignatura %>
  </div>

  <div class="field">
    <%= f.label :facultad %>
    <%= f.text_field :facultad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
