<%= simple_form_for(@tutorium) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :asignatura %>
    <%= f.input :facultad %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
